*~
.backports_applied
configure.mk.kernel
.tmp_versions
Module.symvers
modules.order
.pc
ckmake.log
.config
compat.config
include/linux/compat_autoconf.h
include/linux/autoconf.h
*.cmd
*.o
*.mod.c
*.ko
.*.ko.cmd
*.swp
patches/quiltrc
